{% extends 'base.html.twig' %}

{% block title %}{{ 'cart.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'cart.subtitle'|trans({ '%0%' : user_full_name }) }}</h1>
    
    {% set montant_total = 0 %}

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'table.id'|trans }}</th>
                <th>{{ 'table.product'|trans }}</th>
                <th>{{ 'table.quantity'|trans }}</th>
                <th>{{ 'table.unit_price'|trans }}</th>
                <th>{{ 'table.row_price'|trans }}</th>
                <th>{{ 'table.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
            <tr>
                <td>{{ cart.id }}</td>
                <td>{{ cart.name }}</td>
                <td>{{ cart.quantity }}</td>
                <td>{{ cart.price }} €</td>
                <td>{{ cart.quantity * cart.price }} €</td>
                <td>
                    {{ include('cart/_delete_form.html.twig') }}
                </td>
            </tr>
            {% set montant_total = montant_total + (cart.quantity * cart.price) %}
        {% else %}
            <tr>
                <td colspan="6">{{ 'cart.no_result'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if carts is not empty %}
        <div class="card">
            <div class="card-body">
                {{ 'cart.total_amont'|trans({ '%0%' : montant_total }) }}
            </div>
            <div class="card-footer">
                <form method="POST" action="{{ path('app_cart_validate', {'id': cart_id}) }}">
                    <button class="btn btn-success">{{ 'cart.button.validate'|trans }}</button>
                </form>
            </div>
        </div>
    {% endif %}

{% endblock %}
