{% extends 'base.html.twig' %}

{% block title %}{{ 'title.order'|trans }}{% endblock %}

{% block body %}

    {% set montant_total = 0 %}

    <h1>{{ 'cart.order.subtitle'|trans }}</h1>

    <div class="card mt-3">
        <div class="card-body">
            <b>{{ 'cart.order.order_date'|trans({ '%0%' :  cart.id, '%1%' : cart.purchasedate|date("m/d/Y") }) }}</b>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'table.id'|trans }}</th>
                <th>{{ 'table.product'|trans }}</th>
                <th>{{ 'table.quantity'|trans }}</th>
                <th>{{ 'table.unit_price'|trans }}</th>
                <th>{{ 'table.row_price'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for ct in cart.cartContents %}
                <tr>
                    <td>{{ ct.id }}</td>
                    <td>{{ ct.product.name }}</td>
                    <td>{{ ct.quantity }}</td>
                    <td>{{ ct.product.price }} €</td>
                    <td>{{ ct.quantity * ct.product.price }} €</td>
                </tr>
                {% set montant_total = montant_total + (ct.quantity * ct.product.price) %}
            {% else %}
                <tr>
                    <td colspan="5">{{ 'cart.order.no_result'|trans }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if cart is not empty %}
        <div class="card">
            <div class="card-body">
                {{ 'cart.total_amont'|trans({ '%0%' : montant_total }) }}
            </div>
        </div>
    {% endif %}

{% endblock %}
