{% extends 'base.html.twig' %}

{% block title %}{{ 'title.register'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'subtitle.register'|trans }}</h1>
    <hr class="mx-auto w-50">

    <div class="w-50 mx-auto text-center">
        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.agreeTerms) }}
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
