{% extends 'base.html.twig' %}

{% block title %}{{ 'product.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'product.subtitle'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'table.id'|trans }}</th>
                <th>{{ 'table.product'|trans }}</th>
                <th>{{ 'table.description'|trans }}</th>
                <th>{{ 'table.unit_price'|trans }}</th>
                <th>{{ 'table.stock'|trans }}</th>
                <th>{{ 'table.picture'|trans }}</th>
                <th>{{ 'table.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.photo }}</td>
                <td>
                    <a href="{{ path('app_product_show', {'id': product.id}) }}">{{ 'button.view'|trans }}</a>
                    <a href="{{ path('app_product_edit', {'id': product.id}) }}">{{ 'button.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{{ 'product.no_result'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_product_new') }}">{{ 'product.button.create'|trans }}</a>
{% endblock %}
