<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ 'title.main'|trans }}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        <script src="https://kit.fontawesome.com/4cdad7a7dc.js" crossorigin="anonymous"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand ms-3" href="{{ path('app_home') }}">
                {{ 'title.main'|trans }}
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'navbar.users'|trans }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('app_user_today_registered')}}">{{ 'navbar.users_day_registered'|trans }}</a>
                            </div>
                        </li>
                    {% endif %}

                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ 'navbar.cart'|trans }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="{{ path('app_cart')}}">{{ 'navbar.view_cart'|trans }}</a>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('app_cart_unvalidated')}}">{{ 'navbar.users_cart_active'|trans }}</a>
                                {% endif %}
                            </div>
                        </li>

                    {% endif %}

                    {% if is_granted('ROLE_USER') %}
                        <li class="ml-auto"><a class="nav-item nav-link active" href="{{ path('app_logout')}}">{{ 'navbar.logout'|trans }}</a></li>
                        <li class="ml-auto"><a class="nav-item nav-link active" href="{{ path('app_user_account')}}">{{ 'navbar.account'|trans }}</a></li>
                    {% else %}
                        <li><a class="nav-item nav-link active" href="{{ path('app_register')}}">{{ 'navbar.register'|trans }}</a></li>
                        <li><a class="nav-item nav-link active" href="{{ path('app_login')}}">{{ 'navbar.connection'|trans }}</a></li>
                    {% endif %}
                </div>
            </div>
            <div class="icon-container">
                <img id="fr" class="icon" src="{{ asset('flag/france-icon.png') }}" class="rounded" style="height:30px;">
                <img id="en" class="icon me-3" src="{{ asset('flag/anglais-icon.png') }}" class="rounded" style="height:30px;">
            </div>
            
        </nav>

        <div class="position-relative border">
            {% for type, messages in app.flashes %}
                {% for msg in messages %}
                <div class="alert alert-{{ type }} alert-dismissible fade show position-absolute w-50 top-50 start-50 translate-middle" role="alert">
                    <strong>{{ msg }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endfor %}
        </div>

        <main class="container text-center">
            {% block body %}{% endblock %}
        </main>

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
            <script defer src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            {{ encore_entry_script_tags('app') }}
            <script>
                document.getElementById('fr').addEventListener('click', () => {
                    let url = window.location.href;
                    var paths = url.split('/');
                    if(paths[3] != "fr")
                        paths[3] = "fr"
                    window.location.replace(paths.join("/"));
                })
                document.getElementById('en').addEventListener('click', () => {
                    let url = window.location.href;
                    var paths = url.split('/');
                    if(paths[3] != "en")
                        paths[3] = "en"
                    window.location.replace(paths.join("/"));
                })
            </script>
        {% endblock %}
    </body>
</html>
