{% extends 'base.html.twig' %}

{% block title %}{{ 'title.registered_today'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'subtitle.registered_today'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'table.id'|trans }}</th>
                <th>{{ 'table.user.email'|trans }}</th>
                <th>{{ 'table.user.roles'|trans }}</th>
                <th>{{ 'table.user.firstname'|trans }}</th>
                <th>{{ 'table.user.lastname'|trans }}</th>
                <th>{{ 'table.user.registration_date'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.register_date }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
